<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container heading" style="font-size: 40px">
        InSy
      </div>

    </div>
    <div class="container">
      <h1>{{regNo}}</h1>
      <h2>{{userset.name}}</h2>
      <h2>{{userset.sex}}</h2>
      <h2>{{userset.dob}}</h2>
      <h2>{{userset.dept}}</h2>
      <h2>{{userset.usertype}}</h2>
      <h2>{{userset.phoneNo}}</h2>

    </div>

  </body>
</html>
